.gbody {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: #222;
  text-align: center;
}

.gframe {
  padding: 32px;
  box-sizing: border-box;
  flex: 0 1 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  background-color: #111;
  border-radius: 3px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.38);
  border-radius: 12px;
}

.glogo {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  padding: 8px 8px 32px 8px;
}

.glogo img {
  width: 78px;
  flex: 0 0 auto;
}

.glogo div {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0px 18px;
}

.glogo div h1 {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #aaa;
}

.glogo div h2 {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #ccc;
}

.gfoot {
  margin-top: 10px;
}

.gfoot span {
  color: #888;
  font-size: 12px;
}

.gcontent {
  flex: 1 1 auto;
}

@media screen and (min-height:700px) {
  .gframe {
    margin-bottom: 150px;
  }
}