<div class="clients" *ngIf="model">
    <div class="table">
        <div class="thead">
            <div class="th fx16">
                Type
                <em>({{model.length}} Clients)</em>
            </div>
            <div class="th fx16">Name</div>
            <div class="th fx20">Unique Id</div>
            <div class="th fx12">Remote IP Address</div>
            <div class="th fx12">Is Authenticated</div>
            <div class="th fx12">Protocol</div>
            <div class="th fx12">Connected Date</div>
        </div>
        <div class="tbody">
            <ng-container *ngFor="let item of model">
                <div *ngIf="item.type != '*'" style="height: 1px; background-color: #109040;"></div>
                <div *ngIf="item.type == '*' && item.name != '*'" style="height: 1px; background-color: #666;"></div>
                <div class="trow">
                    <div class="td fx16">
                        <ng-container *ngIf="item.type != '*'">
                            <span *ngIf="item.type">{{item.type}} <em>({{item.typeCount}} Clients)</em></span>
                            <em *ngIf="!item.type">Not Specified</em>
                        </ng-container>
                    </div>
                    <div class="td fx16">
                        <ng-container *ngIf="item.name != '*'">
                            <span *ngIf="item.name">{{item.name}} <em>({{item.nameCount}} Clients)</em></span>
                            <em *ngIf="!item.name">Not Specified</em>
                        </ng-container>
                    </div>
                    <div class="td fx20">
                        <span>
                            <a routerLink="/client/{{item.client.uniqueId}}">{{item.client.uniqueId}}</a>
                        </span>
                    </div>
                    <div class="td fx12">
                        <span *ngIf="item.client.ip">{{item.client.ip}}</span>
                        <em *ngIf="!item.client.ip">Unknown</em>
                    </div>
                    <div class="td fx12">
                        <span>{{item.client.isAuthenticated ? 'Yes' : 'No'}}</span>
                    </div>
                    <div class="td fx12">
                    <span>{{item.client.protocol}}</span>
                    </div>
                    <div class="td fx12">
                        <span>{{(item.client.connectedDate*1000) | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>