.title {
  color: #eee;
}
.content {
  padding: 0px 25px 10px 25px;
  display: block;
}
.content p {
  color: #d2d2d2;
  font-size: 14px;
  line-height: 30px;
}
.content div {
    padding: 20px 0px;
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  align-content: flex-start;
  padding: 15px 0px;
}
.modal-btn {
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 2px;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  color: #f0f0f0;
  margin-left: 16px;
}
.btn-cancel {
  border-color: #777;
}
.btn-cancel:hover {
  border-color: #999;
}
.btn-confirm {
  border-color: #10a040;
}

.btn-confirm:hover {
  border-color: #10d060;
}

.target-text {
  border: 1px solid #555;
  background-color: #000;
  color: #eee;
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
  width: 320px;
}
.target-text:focus,
.target-text:active {
  border-color: #10a040;
}
