<div class="centered-body" [hidden]="queue == null">
  <div class="vertical-content">
    <div class="vertical-col">
      <div class="portlet">
        <h3 class="portlet-title">Queue Delivery</h3>
        <div class="portlet-body" style="height: 330px;">
          <canvas id="queue-delivery-chart"></canvas>
        </div>
      </div>
      <div class="portlet">
        <h3 class="portlet-title">Queue Messages</h3>
        <div class="portlet-body">
          <canvas id="queue-store-chart"></canvas>
        </div>
      </div>
      <div class="portlet" *ngIf="queue">
        <h3 class="portlet-title">
          Queue Statistics
          <a (click)="resetStats()">Reset</a>
        </h3>
        <div class="portlet-body" style="min-height: 377px;">
          <div class="key-value-table">
            <div class="kvt-row">
              <div class="kvt-key">Published Messages</div>
              <div class="kvt-value">{{queue.stats.totalReceived}}</div>
            </div>
            <div class="kvt-row">
              <div class="kvt-key">Consumed Messages</div>
              <div class="kvt-value">{{queue.stats.totalDelivered}} consumes, {{queue.stats.totalSent}} unique msgs
              </div>
            </div>
            <div class="kvt-row">
              <div class="kvt-key">Acknowledge Messages</div>
              <div class="kvt-value">{{queue.stats.totalAck}} ack, {{queue.stats.totalNack}} nack,
                {{queue.stats.totalUnack}} unack</div>
            </div>
            <div class="kvt-row">
              <div class="kvt-key">Total Timed out Messages</div>
              <div class="kvt-value">{{queue.stats.totalTimedout}}</div>
            </div>
            <div class="kvt-row">
              <div class="kvt-key">Total Errors</div>
              <div class="kvt-value">{{queue.stats.totalErrors}}</div>
            </div>
            <div class="kvt-row">
              <div class="kvt-key">Last Publish Date</div>
              <div class="kvt-value" *ngIf="queue.stats.lastReceived > 0">{{(queue.stats.lastReceived*1000) |
                date:'yyyy-MM-dd HH:mm:ss'}}</div>
              <div class="kvt-value" *ngIf="queue.stats.lastReceived == 0">None</div>
            </div>
            <div class="kvt-row">
              <div class="kvt-key">Last Consume Date</div>
              <div class="kvt-value" *ngIf="queue.stats.lastSent > 0">
                {{(queue.stats.lastSent*1000) | date:'yyyy-MM-dd HH:mm:ss'}}
              </div>
              <div class="kvt-value" *ngIf="queue.stats.lastSent == 0">None</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vertical-col">
      <div *ngIf="queue">
        <div class="portlet">
          <h3 class="portlet-title">Queue Actions</h3>
          <div class="portlet-body" style="height: 330px">
            <div class="queue-panel">
              <div class="operation-panel">
                <div>
                  <button (click)="push()" class="operation-button btn-green">Push New Message</button>
                  <p>Creates and pushes a message into the queue</p>
                </div>
                <div>
                  <button (click)="read()" class="operation-button btn-yellow">Read First Message</button>
                  <p>Shows the first message information. Message will <b>not</b> be consumed.</p>
                </div>
                <div>
                  <button (click)="consume()" class="operation-button btn-cyan">Consume First Message</button>
                  <p>Shows the first message information. Message will be <b>consumed.</b></p>
                </div>
                <div>
                  <button (click)="move()" class="operation-button btn-purple">Move/Copy Messages</button>
                  <p>Moves or copies all messages to another queue. If operation is movement messages will be removed <b>permanently.</b></p>
                </div>
                <div>
                  <button (click)="clear()" class="operation-button btn-orange">Clear All Messages</button>
                  <p>Deletes all messages <b>permanently!</b></p>
                </div>
                <div>
                  <button (click)="remove()" class="operation-button btn-red">Delete Queue</button>
                  <p>Deletes queue <b>permanently!</b></p>
                </div>
              </div>
              <div class="status-panel">
                <div>
                  <em>Current Status</em>
                  <strong>{{queue.info.status}}</strong>
                </div>
                <div>
                  <em>New Status</em>
                  <div>
                    <button (click)="setStatus('Paused')" class="status-button btn-orange">Paused</button>
                  </div>
                  <div>
                    <button (click)="setStatus('Running')" class="status-button btn-green">Running</button>
                  </div>
                  <div>
                    <button (click)="setStatus('OnlyPush')" class="status-button btn-purple">Only Push</button>
                  </div>
                  <div>
                    <button (click)="setStatus('OnlyConsume')" class="status-button btn-cyan">Only Consume</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet">
          <h3 class="portlet-title">Queue Information</h3>
          <div class="portlet-body" style="height: 790px;">
            <div class="key-value-table">
              <div class="kvt-row">
                <div class="kvt-key">Name</div>
                <div class="kvt-value">{{queue.info.name}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Active Consumers</div>
                <div class="kvt-value">{{queue.stats.consumers}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Stored Messages</div>
                <div class="kvt-value">{{queue.stats.storedMsgs + queue.stats.storedPrioMsgs +
                  queue.stats.processingMsgs + queue.stats.ackPendingMsgs}}</div>
              </div>
              <div class="kvt-row kvt-seperator"></div>
              <div class="kvt-row">
                <div class="kvt-key">Topic</div>
                <div class="kvt-value">
                  {{queue.info.topic ?? "-"}}
                  <a class="change-option" (click)="changeOption('Topic', 'topic', queue.info.topic)">Change</a>
                </div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Type</div>
                <div class="kvt-value">{{queue.info.type}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Manager</div>
                <div class="kvt-value">{{queue.info.manager}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Consumer Limit</div>
                <div class="kvt-value">
                  {{queue.options!.clientLimit | unlimited}}
                  <a class="change-option" (click)="changeOption('Consumer Limit', 'clientLimit', queue.options!.clientLimit)">Change</a>
                </div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Created Date</div>
                <div class="kvt-value">{{(queue.info.createdDate*1000) | date:'yyyy-MM-dd HH:mm:ss'}}</div>
              </div>
              <div class="kvt-row kvt-seperator"></div>
              <div class="kvt-row">
                <div class="kvt-key">Acknowledge</div>
                <div class="kvt-value">
                  {{queue.info.acknowledge}}
                </div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Acknowledge Timeout</div>
                <div class="kvt-value" *ngIf="queue.info.ackTimeout > 0">
                  {{queue.info.ackTimeout}} ms Timeout
                  <a class="change-option" (click)="changeOption('Acknowledge Timeout', 'ackTimeout', queue.info.ackTimeout)">Change</a>
                </div>
                <div class="kvt-value" *ngIf="queue.info.ackTimeout == 0">
                  No Timeout
                  <a class="change-option" (click)="changeOption('Acknowledge Timeout', 'ackTimeout', queue.info.ackTimeout)">Change</a>
                </div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Commit When</div>
                <div class="kvt-value">
                  {{queue.options!.commitWhen}}
                </div>
              </div>
              <div class="kvt-row kvt-seperator"></div>
              <div class="kvt-row">
                <div class="kvt-key">Message Timeout</div>
                <div class="kvt-value" *ngIf="queue.info.msgTimeout == 0">No Timeout</div>
                <div class="kvt-value" *ngIf="queue.info.msgTimeout > 0">
                  {{queue.info.msgTimeout}} Milliseconds
                  <a class="change-option" (click)="changeOption('Message Timeout', 'msgTimeout', queue.info.msgTimeout)">Change</a>
                </div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Message Limit</div>
                <div class="kvt-value">
                  {{queue.info.messageLimit | unlimited}}
                  <a class="change-option" (click)="changeOption('Message Timeout', 'msgLimit', queue.info.messageLimit)">Change</a>
                </div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Message Size Limit</div>
                <div class="kvt-value">
                  {{queue.info.msgSizeLimit | filesize}}
                  <a class="change-option"
                     (click)="changeOption('Message Size Limit', 'msgSizeLimit', queue.info.msgSizeLimit)">Change</a>
                </div>
              </div>
              <div class="kvt-row kvt-seperator"></div>
              <div class="kvt-row">
                <div class="kvt-key">Delay Between Messages</div>
                <div class="kvt-value" *ngIf="queue.info.delayBetweenMsgs == 0">
                  No Delay
                  <a class="change-option"
                     (click)="changeOption('Delay Between Messages', 'delayBetweenMsgs', queue.info.delayBetweenMsgs)">Change</a>
                </div>
                <div class="kvt-value" *ngIf="queue.info.delayBetweenMsgs > 0">
                  {{queue.info.delayBetweenMsgs}} Milliseconds
                  <a class="change-option"
                     (click)="changeOption('Delay Between Messages', 'delayBetweenMsgs', queue.info.delayBetweenMsgs)">Change</a>
                </div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Put Back Delay</div>
                <div class="kvt-value" *ngIf="queue.info.putBackDelay == 0">
                  No Delay
                  <a class="change-option" (click)="changeOption('Put Back Delay', 'putBackDelay', queue.info.putBackDelay)">Change</a>
                </div>
                <div class="kvt-value" *ngIf="queue.info.putBackDelay > 0">
                  {{queue.info.putBackDelay}} Milliseconds
                  <a class="change-option" (click)="changeOption('Put Back Delay', 'putBackDelay', queue.info.putBackDelay)">Change</a>
                </div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Auto Destroy</div>
                <div class="kvt-value">
                  {{queue.info.autoDestroy}}
                  <a class="change-option" (click)="changeOption('Auto Destroy', 'autoDestroy', queue.info.autoDestroy)">Change</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="centered-body" *ngIf="queue && queue.consumers">
  <div class="vertical-content">
    <div class="portlet full">
      <h3 class="portlet-title">Queue Consumers</h3>
      <div class="portlet-body table table-small nowrap">
        <div class="thead">
          <div class="th fx14">Type</div>
          <div class="th fx14">Name</div>
          <div class="th fx22">Id</div>
          <div class="th fx10">Subscribed Date</div>
          <div class="th fx10">Consumed</div>
          <div class="th fx10">Acknowledged</div>
          <div class="th fx10">Ack Timed out</div>
          <div class="th fx10">Status</div>
        </div>
        <div class="tbody">
          <div class="trow" *ngFor="let consumer of queue.consumers">
            <div class="td fx14"><span>{{consumer.type}}</span></div>
            <div class="td fx14"><span>{{consumer.name}}</span></div>
            <div class="td fx22"><a routerLink="/client/{{consumer.id}}">{{consumer.id}}</a></div>
            <div class="td fx10"><span>{{(consumer.subscriptionDate*1000)| date: 'yyyy-MM-dd HH:mm:ss'}}</span></div>
            <div class="td fx10"><span>{{consumer.consumes}}</span></div>
            <div class="td fx10"><span>{{consumer.acks}}</span></div>
            <div class="td fx10"><span>{{consumer.ackTimeouts}}</span></div>
            <div class="td fx10" *ngIf="consumer.currentlyProcessing">
              <span>Processing</span>
              <em>{{(consumer.processingDeadline*1000)| date: 'yyyy-MM-dd HH:mm:ss'}}</em>
            </div>
            <div class="td fx10" *ngIf="!consumer.currentlyProcessing"><span>Idle</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 80px;"></div>