<div class="channels" *ngIf="channels">
    <div class="table">
        <div class="thead">
            <div class="th fx40px">
                <a class="fa fa-solid fa-plus hreverse" (click)="create()" title="Create New Channel"></a>
            </div>
            <div class="th fx20">
                Name
                <em>({{channels.length}} Channels)</em>
            </div>
            <div class="th fx14">Topic</div>
            <div class="th fx12">Status</div>
            <div class="th fx12">Published</div>
            <div class="th fx12">Received</div>
            <div class="th fx12">Subscribers</div>
            <div class="th fx16">Last Publish Date</div>
        </div>
        <div class="tbody">
            <div class="trow" *ngFor="let channel of channels">
                <div class="td fx40px"></div>
                <div class="td fx20">
                    <span>{{channel.name}}</span>
                </div>
                <div class="td fx14">
                    <span>{{channel.topic}}</span>
                </div>
                <div class="td fx12">
                    <span>{{channel.status}}</span>
                </div>
                <div class="td fx12">
                    <span>{{channel.publish}}</span>
                </div>
                <div class="td fx12">
                    <span>{{channel.receive}}</span>
                </div>
                <div class="td fx12">
                    <span>{{channel.subscriberCount}} Online</span>
                </div>
                <div class="td fx16">
                    <span>{{(channel.lastPublishDate*1000) | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="create-end">
        <button (click)="create()">Create New Channel</button>
    </div>
</div>