<div class="dashboard">
    <div class="dashboard-portlet">
        <div class="portlet">
            <h3 class="portlet-title">Delivery In Last Minute</h3>
            <div class="portlet-body">
                <canvas id="delivery-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="dashboard-portlet">
        <div class="portlet">
            <h3 class="portlet-title">Messages In Last Minute</h3>
            <div class="portlet-body">
                <canvas id="msg-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="dashboard-portlet">
        <div class="portlet">
            <h3 class="portlet-title">Statistics</h3>
            <div class="portlet-body">
                <div class="key-value-table">
                    <div class="kvt-row">
                        <div class="kvt-key">Service Lifetime</div>
                        <div class="kvt-value">12 days 2 mins</div>
                    </div>
                    <div class="kvt-row">
                        <div class="kvt-key">RAM Usage</div>
                        <div class="kvt-value">124 MB</div>
                    </div>
                    <div class="kvt-row">
                        <div class="kvt-key">CPU Usage</div>
                        <div class="kvt-value">6%</div>
                    </div>
                    <div class="kvt-row">
                        <div class="kvt-key">Online Clients</div>
                        <div class="kvt-value">34</div>
                    </div>
                    <div class="kvt-row">
                        <div class="kvt-info">Connected incoming node count. Incoming nodes send the messages they received to this instance.</div>
                        <div class="kvt-key">Incoming Nodes</div>
                        <div class="kvt-value">0</div>
                    </div>
                    <div class="kvt-row">
                        <div class="kvt-info">Connected outgoing node count. When a message is received, it's sent to outgoing nodes.</div>
                        <div class="kvt-key">Outgoing Nodes</div>
                        <div class="kvt-value">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-portlet">
        <div class="portlet">
            <h3 class="portlet-title">Message Statistics</h3>
            <div class="portlet-body">
                <div class="key-value-table">
                    <div class="kvt-row">
                        <div class="kvt-key">Total Routes</div>
                        <div class="kvt-value">2</div>
                    </div>
                    <div class="kvt-row">
                        <div class="kvt-key">Total Queues</div>
                        <div class="kvt-value">4</div>
                    </div>
                    <div class="kvt-row">
                        <div class="kvt-key">Total Queue Messages</div>
                        <div class="kvt-value">92</div>
                    </div>
                    <div class="kvt-row">
                        <span class="kvt-info">Total subscription count in queues. If a client is subscribed 3 queues, it's counted as 3.</span>
                        <div class="kvt-key">Total Subscribers</div>
                        <div class="kvt-value">92</div>
                    </div>
                    <div class="kvt-row">
                        <span class="kvt-info">Total published messages in last 60 seconds. Route and queue messages are counted.</span>
                        <div class="kvt-key">Published Messages</div>
                        <div class="kvt-value">2</div>
                    </div>
                    <div class="kvt-row">
                        <span class="kvt-info">Total consume in last 60 seconds. If a message consumed 5 times, it's counted as 5 deliveries</span>
                        <div class="kvt-key">Delivered Messages</div>
                        <div class="kvt-value">2</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-portlet">
        <div class="portlet">
            <h3 class="portlet-title">Server Options</h3>
            <div class="portlet-body">
                <div class="key-value-table">
                    <div class="kvt-row">
                        <div class="kvt-key">Total Routes</div>
                        <div class="kvt-value">2</div>
                    </div>
                    <div class="kvt-row">
                        <div class="kvt-key">Total Queues</div>
                        <div class="kvt-value">4</div>
                    </div>
                    <div class="kvt-row">
                        <div class="kvt-key">Total Queue Messages</div>
                        <div class="kvt-value">92</div>
                    </div>
                    <div class="kvt-row">
                        <span class="kvt-info">Total subscription count in queues. If a client is subscribed 3 queues, it's counted as 3.</span>
                        <div class="kvt-key">Total Subscribers</div>
                        <div class="kvt-value">92</div>
                    </div>
                    <div class="kvt-row">
                        <span class="kvt-info">Total published messages in last 60 seconds. Route and queue messages are counted.</span>
                        <div class="kvt-key">Published Messages</div>
                        <div class="kvt-value">2</div>
                    </div>
                    <div class="kvt-row">
                        <span class="kvt-info">Total consume in last 60 seconds. If a message consumed 5 times, it's counted as 5 deliveries</span>
                        <div class="kvt-key">Delivered Messages</div>
                        <div class="kvt-value">2</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-portlet">
        <div class="portlet">
            <h3 class="portlet-title">Default Queue Options</h3>
            <div class="portlet-body">
                <div class="key-value-table">
                    <div class="kvt-row">
                        <div class="kvt-key">Total Routes</div>
                        <div class="kvt-value">2</div>
                    </div>
                    <div class="kvt-row">
                        <div class="kvt-key">Total Queues</div>
                        <div class="kvt-value">4</div>
                    </div>
                    <div class="kvt-row">
                        <div class="kvt-key">Total Queue Messages</div>
                        <div class="kvt-value">92</div>
                    </div>
                    <div class="kvt-row">
                        <span class="kvt-info">Total subscription count in queues. If a client is subscribed 3 queues, it's counted as 3.</span>
                        <div class="kvt-key">Total Subscribers</div>
                        <div class="kvt-value">92</div>
                    </div>
                    <div class="kvt-row">
                        <span class="kvt-info">Total published messages in last 60 seconds. Route and queue messages are counted.</span>
                        <div class="kvt-key">Published Messages</div>
                        <div class="kvt-value">2</div>
                    </div>
                    <div class="kvt-row">
                        <span class="kvt-info">Total consume in last 60 seconds. If a message consumed 5 times, it's counted as 5 deliveries</span>
                        <div class="kvt-key">Delivered Messages</div>
                        <div class="kvt-value">2</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>