@if (dashboard && (dashboard.nodeState == 'Replica' || dashboard.nodeState == 'Successor')){
<div class="warning-bar">
  <p>That node is a <b>{{dashboard.nodeState}}</b> Node. <a href="{{dashboard.mainNodeHost}}">Click here</a> to open
    main node jockey panel.</p>
</div>
}
@if (initialized) {
<div class="dashboard" [hidden]="dashboard == null">
  <div class="dashboard-row">
    <div class="dashboard-portlet">
      <div class="portlet">
        <h3 class="portlet-title">Stored Queue Messages</h3>
        <div class="portlet-body">
          <div class="portlet-canvas">
            <canvas id="store-chart"></canvas>
          </div>
          <div class="portlet-table canvas-info">
            @if (dashboard){
            <div class="key-value-table">
              <div class="kvt-row">
                <div class="kvt-key">Queue Count</div>
                <div class="kvt-value">{{dashboard.queueCount}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Stored Messages</div>
                <div class="kvt-value">{{dashboard.queueStore.r}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Stored Prio</div>
                <div class="kvt-value">{{dashboard.queueStore.d}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Pending Delivery</div>
                <div class="kvt-value">{{dashboard.queueStore.rs}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Putback Waiting</div>
                <div class="kvt-value">{{dashboard.queueStore.nr}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Processing</div>
                <div class="kvt-value">{{dashboard.queueStore.s}}</div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-portlet">
      <div class="portlet">
        <h3 class="portlet-title">Channel Messages</h3>
        <div class="portlet-body">
          <div class="portlet-canvas">
            <canvas id="channel-chart"></canvas>
          </div>
          <div class="portlet-table canvas-info">
            @if (dashboard){
            <div class="key-value-table">
              <div class="kvt-row">
                <div class="kvt-key">Channels</div>
                <div class="kvt-value">{{dashboard.channelCount}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Published</div>
                <div class="kvt-value">{{dashboard.channels.s}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Received</div>
                <div class="kvt-value">{{dashboard.channels.r}}</div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-row">
    <div class="dashboard-portlet">
      <div class="portlet">
        <h3 class="portlet-title">Queue Messages and Deliveries</h3>
        <div class="portlet-body">
          <div class="portlet-canvas">
            <canvas id="delivery-chart"></canvas>
          </div>
          <div class="portlet-table canvas-info">
            @if (dashboard){
            <div class="key-value-table">
              <div class="kvt-row">
                <div class="kvt-key">Produced</div>
                <div class="kvt-value">{{dashboard.queues.r}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Ack'ed</div>
                <div class="kvt-value">{{dashboard.queues.d}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Negative Ack'ed</div>
                <div class="kvt-value">{{dashboard.queues.rs}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Unack</div>
                <div class="kvt-value">{{dashboard.queues.nr}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Ack Timed out</div>
                <div class="kvt-value">{{dashboard.queues.to}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Delivery Errors</div>
                <div class="kvt-value">{{dashboard.queues.e}}</div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-portlet">
      <div class="portlet">
        <h3 class="portlet-title">Server Information and Default Options</h3>
        <div class="portlet-body" style="min-height: 275px;">
          @if (dashboard){
          <div class="portlet-table">
            <div class="key-value-table">
              <div class="kvt-row">
                <div class="kvt-key">Service Lifetime</div>
                <div class="kvt-value">{{lifetime}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Hostname</div>
                <div class="kvt-value">
                  @for (host of dashboard.server.hosts; track host){
                  <span>{{host}}</span>
                  }
                </div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Online Clients</div>
                <div class="kvt-value">{{dashboard.server.onlineClients}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-info">All defined remote nodes.</div>
                <div class="kvt-key">Total Nodes</div>
                <div class="kvt-value">{{dashboard.server.totalNodes}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-info">Connected nodes</div>
                <div class="kvt-key">Online Nodes</div>
                <div class="kvt-value">{{dashboard.server.connectedNodes}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Channel Subscribers Limit</div>
                <div class="kvt-value">{{dashboard.serverOptions.channelSubscriberLimit | unlimited}}</div>
              </div>
            </div>
          </div>
          <div class="portlet-table grow">
            <div class="key-value-table">
              <div class="kvt-row">
                <div class="kvt-key">Max Queue Limit</div>
                <div class="kvt-value">{{dashboard.serverOptions.queueLimit | unlimited}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Max Router Limit</div>
                <div class="kvt-value">{{dashboard.serverOptions.routerLimit | unlimited}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Auto Channel Creation</div>
                <div class="kvt-value">{{dashboard.serverOptions.autoChannelCreation}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Auto Queue Creation</div>
                <div class="kvt-value">{{dashboard.queueOptions.autoQueueCreation}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Auto Queue Destroy</div>
                <div class="kvt-value">{{dashboard.queueOptions.autoDestroy}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Queue Subscribers Limit</div>
                <div class="kvt-value">{{dashboard.queueOptions.clientLimit | unlimited}}</div>
              </div>
            </div>
          </div>
          <div class="portlet-table grow">
            <div class="key-value-table">
              <div class="kvt-row">
                <div class="kvt-key">Default Queue Type</div>
                <div class="kvt-value">{{dashboard.queueOptions.type}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Queue Acknowledge</div>
                <div class="kvt-value">
                  {{dashboard.queueOptions.ack}}
                  <em *ngIf="dashboard.queueOptions.ackTimeout > 0">
                    {{dashboard.queueOptions.ackTimeout}} ms timeout
                  </em>
                </div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Queue Message Timeout</div>
                @if (dashboard.queueOptions.msgTimeout == 0){
                <div class="kvt-value">No Timeout</div>
                }
                @else {
                <div class="kvt-value">
                  {{dashboard.queueOptions.msgTimeout}} milliseconds
                </div>
                }
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Message Limit</div>
                <div class="kvt-value">
                  {{dashboard.queueOptions.msgLimit | unlimited}}
                  <em>Size Limit: {{dashboard.queueOptions.msgSizeLimit | filesize}}</em>
                </div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Delay Between Messages</div>
                @if (dashboard.queueOptions.delayBetweenMsgs == 0){
                <div class="kvt-value">No Delay</div>
                }
                @else {
                <div class="kvt-value">
                  {{dashboard.queueOptions.delayBetweenMsgs}} milliseconds
                </div>
                }
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-row">
    <div class="dashboard-portlet">
      <div class="portlet">
        <h3 class="portlet-title">Router Messages</h3>
        <div class="portlet-body">
          <div class="portlet-canvas">
            <canvas id="router-chart"></canvas>
          </div>
          <div class="portlet-table canvas-info">
            @if (dashboard){
            <div class="key-value-table">
              <div class="kvt-row">
                <div class="kvt-key">Published</div>
                <div class="kvt-value">{{dashboard.router.r}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Delivered</div>
                <div class="kvt-value">{{dashboard.router.s}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Not Received</div>
                <div class="kvt-value">{{dashboard.router.nr}}</div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-portlet">
      <div class="portlet">
        <h3 class="portlet-title">Direct Messages and Responses</h3>
        <div class="portlet-body">
          <div class="portlet-canvas">
            <canvas id="msg-chart"></canvas>
          </div>
          <div class="portlet-table canvas-info">
            @if (dashboard){
            <div class="key-value-table">
              <div class="kvt-row">
                <div class="kvt-key">Sent</div>
                <div class="kvt-value">{{dashboard.direct.s}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Delivered</div>
                <div class="kvt-value">{{dashboard.router.r}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Responses</div>
                <div class="kvt-value">{{dashboard.direct.rs}}</div>
              </div>
              <div class="kvt-row">
                <div class="kvt-key">Not Routed</div>
                <div class="kvt-value">{{dashboard.router.nr}}</div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}