<div class="console-frame">
  <div class="console-panel">
    <div class="console-filter">
      <form>
        <select [(ngModel)]="source"
                name="source">
          <option value="queue"
                  selected>Queue</option>
          <option value="router">Router</option>
          <option value="direct">Direct</option>
        </select>

        <select [(ngModel)]="targetType"
                *ngIf="source == 'queue'"
                name="targetType">
          <option value="name">Target by Name</option>
          <option value="topic">Target by Topic</option>
        </select>

        <select [(ngModel)]="targetType"
                *ngIf="source == 'direct'"
                name="targetType">
          <option value="id">Target by Id</option>
          <option value="name">Target by Name</option>
          <option value="type">Target by Type</option>
        </select>

        <input type="text"
               [(ngModel)]="target"
               name="target"
               placeholder="Type target" />
        <button (click)="submit()">Apply Filter</button>
      </form>
    </div>
    <div class="console-buttons">
      <span class="toggle-button"
            [class.active]="showTime"
            (click)="toggleTime()">
        Show Time
      </span>
      <span class="toggle-button"
            [class.active]="showMessageId"
            (click)="toggleMessageId()">
        Show Message Id
      </span>
      <span class="toggle-button"
            [class.active]="showContentType"
            (click)="toggleContentType()">
        Show Content Type
      </span>
      <span class="toggle-button"
            [class.active]="autoScroll"
            (click)="toggleAutoScroll()">
        Auto Scroll
      </span>
      <span (click)="clear()"
            class="red-button">
        Clear Console
      </span>
    </div>
  </div>
  <div class="console"
       #container>
    <table #console></table>
  </div>
</div>

<ng-template #messageTemplate
             let-message>
  <tr>
    <td *ngIf="showTime"
        class="message-time"
        [textContent]="message.date | jockeyTime">
    </td>
    <td class="message-name"
        [ngClass]="{'time-show': showTime}"
        [textContent]="message.name">
    </td>
    <td>
      <table>
        <tr *ngIf="showMessageId || showContentType">
          <td *ngIf="showContentType"
              class="message-content-type">[{{message.contentType}}]</td>
          <td class="message-id"
              *ngIf="showMessageId"
              [textContent]="message.messageId"></td>
        </tr>
        <tr>
          <td class="message-content"
              [attr.colspan]="colspan">
            <div [textContent]="message.message"></div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</ng-template>
