header {
  display: block;
  height: 60px;
  box-sizing: border-box;
  background-color: #111;
  position: fixed;
  width: 100%;
}
.after-header {
  display: block;
  height: 80px;
}

.headline {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

.headline .logo {
  flex: 0 1 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  margin-right: 100px;
  min-width: 150px;
}

.headline .logo img {
  height: 40px;
  margin: 10px 10px 5px 15px;
  flex: 0 1 auto;
}
.headline .logo div {
  min-width: 150px;
}
.headline .logo h1 {
  flex: 1 2 auto;
  margin: 14px 0px 0px 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #e0e0e0;
}

.headline .logo em {
  padding: 0px 0px 0px 1px;
  font-size: 10px;
  font-weight: 300;
  color: #aaa;
  font-style: normal;
}

.headline .menu {
  flex: 1 2 auto;
}

.headline .menu ul {
  margin: 13px 20px 0px 20px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}

.headline .menu ul li {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  margin: 0px 4px;
}

.headline .menu ul li a {
  text-decoration: none;
  padding: 10px 14px;
  background-color: transparent;
  color: #999;
  border-radius: 2px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  cursor: pointer;
}

.headline .menu ul li a:hover {
  background-color: #222;
  color: #eee;
}

.headline .menu ul li a.active {
  background-color: #048cca;
  color: #000;
}

.headline .user {
  flex: 0 3 auto;
  padding: 12px;
  display: flex;
  flex-direction: row;
}

.headline .user-name {
  font-size: 14px;
  font-weight: 400;
  color: #ccc;
  margin: 9px 0px 0px 0px;
  padding: 2px 10px 0px 10px;
}

.headline .logout {
  border: none;
  background-color: #c01010;
  color: #e0e0e0;
  font-style: 13px;
  font-weight: 500;
  border-radius: 2px;
  line-height: 13px;
  padding: 10px 14px;
  margin: 0px 45px 0px 20px;
}

.line-form-item {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-content: stretch;
  align-items: stretch;
  justify-content: stretch;
  justify-items: stretch;
  padding: 8px 0px;
}

.line-form-item label {
  flex: 1 1 auto;
  color: #bbb;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 10px 0px 0px;
}
.line-form-item input,
.line-form-item select {
  flex: 1 1 auto;
}
