<header>
  <div class="headline">
    <div class="logo">
      <img src="/assets/horse.svg" alt="Horse Messaging" />
      <div>
        <h1>Horse Messaging Jockey</h1>
        <em>Version {{version}}</em>
      </div>
    </div>
    <div class="menu">
      <ul>
        <li><a routerLinkActive="active" routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLinkActive="active" routerLink="/channels">Channels</a></li>
        <li><a routerLinkActive="active" routerLink="/queues">Queues</a></li>
        <li><a routerLinkActive="active" routerLink="/routers">Routers</a></li>
        <li><a routerLinkActive="active" routerLink="/cache">Cache</a></li>
        <li><a routerLinkActive="active" routerLink="/clients">Clients</a></li>
        <li><a routerLinkActive="active" routerLink="/plugins">Plugins</a></li>
        <li><a routerLinkActive="active" routerLink="/console">Console</a></li>
      </ul>
    </div>
    <div>
      <div class="line-form-item" style="margin-top: 5px;">
        <label>Refresh Lists</label>
        <select [(ngModel)]="refreshItem" class="jockey-select" (ngModelChange)="refreshChanged()">
          <option [ngValue]="i" *ngFor="let i of refreshItems">{{i.text}}</option>
        </select>
      </div>
    </div>
    <div class="user" *ngIf="user">
      <span class="user-name">{{user.name}}</span>
      <button class="logout" (click)="logout()">Logout</button>
    </div>
  </div>
</header>
<div class="after-header"></div>
<div class="portal-content">
  <router-outlet></router-outlet>
</div>