<header>
    <div class="headline">
        <div class="logo">
            <img src="/assets/horse.svg" alt="Horse MQ" />
            <div>
                <h1>Horse MQ Jockey</h1>
                <em>Version 5.0.3</em>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a routerLinkActive="active" routerLink="/dashboard">Dashboard</a></li>
                <li><a routerLinkActive="active" routerLink="/queues">Queues</a></li>
                <li><a routerLinkActive="active" routerLink="/routes">Routes</a></li>
                <li><a routerLinkActive="active" routerLink="/clients">Clients</a></li>
                <li><a routerLinkActive="active" routerLink="/nodes">Nodes</a></li>
                <li><a routerLinkActive="active" routerLink="/handlers">Handlers</a></li>
            </ul>
        </div>
        <div class="user" *ngIf="user">
            <span class="user-name">{{user.name}}</span>
            <button class="logout" (click)="logout()">Logout</button>
        </div>
    </div>

</header>
<div class="portal-content">
    <router-outlet></router-outlet>
</div>