.title {
  color: #eee;
}

.content p {
  color: #d2d2d2;
  font-size: 14px;
  line-height: 30px;
}

.cache-value textarea {
  margin: 8px 0px;
  border: 1px solid #999;
  background-color: #000;
  padding: 5px;
  border-radius: 12px;
  width: 500px;
  height: 140px;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: 400;
  color: #eee;
  resize: none;
}