.title {
  color: #eee;
}
.content {
  padding: 0px 25px 10px 25px;
  display: block;
}
.content p {
  color: #d2d2d2;
  font-size: 14px;
  line-height: 30px;
}
.content div {
  padding: 20px 0px;
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  align-content: flex-start;
  padding: 15px 0px;
}
.modal-btn {
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 2px;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  color: #f0f0f0;
  margin-left: 16px;
}
.btn-cancel {
  border-color: #777;
}
.btn-cancel:hover {
  border-color: #999;
}

.cache-value {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}

.cache-value label {
  padding: 8px 0px;
  color: #e2c026;
  font-size: 15px;
  font-weight: 500;
}

.cache-value textarea {
  margin: 8px 0px;
  border: 1px solid #999;
  background-color: #000;
  padding: 5px;
  width: 440px;
  height: 100px;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: 400;
  color: #eee;
  resize: none;
}
