<div class="queues" *ngIf="queues">
    <div class="table">
        <div class="thead">
            <div class="th fx40px">
                <a class="fa fa-solid fa-plus hreverse" (click)="create()" title="Create New Queue"></a>
            </div>
            <div class="th fx20">
                Name
                <em>({{queues.length}} Queues)</em>
            </div>
            <div class="th fx16">
                Manager
                <a class="small ml18" (click)="viewManagers()">Defined Managers</a>
            </div>
            <div class="th fx10">Messages</div>
            <div class="th fx12">Acknowledge</div>
            <div class="th fx14">Auto&nbsp;Destroy</div>
            <div class="th fx10">Message&nbsp;Limit</div>
            <div class="th fx16">PutBack / Delay</div>
        </div>
        <div class="tbody">
            <div class="trow" *ngFor="let queue of queues">
                <div class="td fx40px"></div>
                <div class="td fx20">
                    <span><a routerLink="/queue/{{queue.info.name}}">{{queue.info.name}}</a></span>
                    <em>{{queue.info.topic}}</em>
                </div>
                <div class="td fx16">
                    <span>{{queue.info.manager}}</span>
                </div>
                <div class="td fx10">
                    <span><b>{{queue.stats.storedMsgs + queue.stats.storedPrioMsgs + queue.stats.processingMsgs}}</b> Messages</span>
                    <em>{{queue.stats.consumers}} Consumers</em>
                </div>
                <div class="td fx12">
                    <span>{{queue.info.acknowledge}}</span>
                    <em *ngIf="queue.info.ackTimeout == 0">No Ack Timeout</em>
                    <em *ngIf="queue.info.ackTimeout > 0">{{queue.info.ackTimeout}} ms Timeout</em>
                </div>
                <div class="td fx14">
                    <span>{{queue.info.autoDestroy}}</span>
                    <em>Created at {{(queue.info.createdDate*1000) | date: 'yyyy-MM-dd HH:mm'}}</em>
                </div>
                <div class="td fx10">
                    <span *ngIf="queue.info.messageLimit == 0">Unlimited</span>
                    <span *ngIf="queue.info.messageLimit > 0">No Timeout</span>
                    <em *ngIf="queue.info.msgTimeout > 0">{{queue.info.msgTimeout | timespan}} Timeout</em>
                </div>
                <div class="td fx16">
                    <span *ngIf="queue.info.putBackDelay == 0">No Putback delay</span>
                    <span *ngIf="queue.info.putBackDelay > 0">{{queue.info.putBackDelay}} ms Putback Delay</span>
                    <em *ngIf="queue.info.delayBetweenMsgs == 0">No Delay between msgs</em>
                    <em *ngIf="queue.info.delayBetweenMsgs > 0">{{queue.info.delayBetweenMsgs}} ms Delay between msgs</em>
                </div>
            </div>
        </div>
    </div>
    <div class="create-end">
        <button (click)="create()">Create New Queue</button>
    </div>
</div>