.console-frame {
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-content: stretch;
  align-items: stretch;
  height: calc(100vh - 110px);
}

.console-panel {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  align-items: stretch;
  align-content: space-between;
}

.console-filter {
  flex: 1 0 auto;
  padding: 0px 0px 12px 0px;
}

.console-filter form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}

.console-filter select {
  border-radius: 2px;
  border: 1px solid #333;
  background-color: #111;
  color: #eee;
  padding: 6px;
  margin: 0px 10px 0px 0px;
  line-height: 30px;
  height: 32px;
  box-sizing: border-box;
}

.console-filter input,
.console-buttons input {
  border-radius: 2px;
  border: 1px solid #333;
  background-color: #111;
  color: #eee;
  box-sizing: border-box;
  padding: 6px 8px;
  margin: 0px 10px 0px 0px;
  line-height: 32px;
  height: 32px;
}

.console-filter button {
  border-radius: 2px;
  border: none;
  background-color: #108030;
  color: #eee;
  box-sizing: border-box;
  padding: 6px 12px;
  margin: 0px 10px 0px 0px;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.console-filter button:hover {
  background-color: #129040;
}

.console-buttons {
  flex: 0 1 auto;
  padding-top: 0;
}

.toggle-button {
  margin: 0px 4px;
  border-radius: 2px;
  background-color: #333;
  color: #ccc;
  padding: 8px 10px;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #111;
}

.toggle-button.active {
  background-color: #f0d000;
  color: #000;
}

.toggle-button:hover.active {
  background-color: #f0e060;
}

.red-button {
  margin: 0px 0px 0px 4px;
  border-radius: 2px;
  background-color: #d01010;
  color: #fff;
  padding: 8px 10px;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.red-button:hover {
  background-color: #ff3030;
}

.green-button {
  margin: 0px 0px 0px 4px;
  border-radius: 2px;
  background-color: #43a047;
  color: #fff;
  padding: 8px 10px;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.green-button:hover {
  background-color: #4caf50;
}

.console {
  background-color: #101010;
  border: 1px solid #333;
  flex: 1 1 auto;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  overflow: auto;
  padding: 10px 14px;
  font-family: "Ubuntu Mono", monospace;
}

.message-time {
  color: #999;
  font-size: 13px;
  font-style: normal;
  line-height: 20px;
  font-weight: 400;
  vertical-align: initial;
  width: 1%;
  white-space: nowrap;
}

td.message-name {
  font-weight: 700;
  color: #f0d000;
  font-size: 14px;
  padding-right: 16px;
  width: 1%;
  white-space: nowrap;
}

td.message-name.time-show {
  padding: 0 16px;
}

td.message-content-type {
  width: 1%;
  white-space: nowrap;
  padding: 0 16px 0 0;
}

td.message-content-type > span {
  color: #20a0a0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

td.message-id {
  color: #888;
  font-size: 11px;
  font-weight: 400;
}

td.message-content {
  width: 100%;
  font-weight: 400;
  color: #f0f0f0;
}

td.message-content > div {
  word-break: break-word;
  white-space: pre-line;
}

td > table {
  width: 100%;
  margin-bottom: 8px;
}

table td {
  white-space: nowrap;
  vertical-align: initial;
}

table td.message {
  white-space: normal;
}

pre {
  margin: 0;
}

.json-key {
  color: brown;
}

.json-string {
  color: olive;
}

.json-number {
  color: navy;
}

.json-boolean {
  color: teal;
}

.json-null {
  color: dimgray;
}

.json-mark {
  color: black;
}

a.json-link {
  color: purple;
  transition: all 400ms;
}

a.json-link:visited {
  color: slategray;
}

a.json-link:hover {
  color: blueviolet;
}

a.json-link:active {
  color: slategray;
}

.dark-mode .json-key {
  color: indianred;
}

.dark-mode .json-string {
  color: darkkhaki;
}

.dark-mode .json-number {
  color: deepskyblue;
}

.dark-mode .json-boolean {
  color: mediumseagreen;
}

.dark-mode .json-null {
  color: darkorange;
}

.dark-mode .json-mark {
  color: silver;
}

.dark-mode a.json-link {
  color: mediumorchid;
}

.dark-mode a.json-link:visited {
  color: slategray;
}

.dark-mode a.json-link:hover {
  color: violet;
}

.dark-mode a.json-link:active {
  color: silver;
}

.applied {
  padding: 8px 8px 0px 8px;
  color: #10cc33;
  font-weight: 500;
  font-size: 13px;
  transition: 0.3s ease-out;
  opacity: 0;
}
.applied.show {
  opacity: 1;
}
