// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

@include mat.core();
$angular-primary: mat.m2-define-palette(mat.$m2-indigo-palette, 500, 100, 900);
$angular-accent: mat.m2-define-palette(mat.$m2-indigo-palette, A200, A100, A400);
$angular-warn: mat.m2-define-palette(mat.$m2-indigo-palette);
$angular-dark-theme: mat.m2-define-dark-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));

@include mat.all-component-colors($angular-dark-theme);

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

body {
  margin: 0px;
  padding: 0px;
  line-height: 18px;
  font-family: "Ubuntu", sans-serif;
  background-color: #222;
}

div {
  box-sizing: border-box;
}

a,
button,
input,
select,
textarea {
  cursor: pointer;
  outline: none;
}

.portlet {
  box-sizing: border-box;
  margin: 8px;
  border: 1px solid #505050;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  text-align: left;
}

.portlet.full {
  width: 100%;
}

.portlet-title {
  text-align: left;
  flex: 0 0 30px;
  border-bottom: 1px solid #404040;
  margin: 0px;
  padding: 10px 10px 0px 14px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #d2d2d2;
}

.portlet-title a {
  float: right;
  color: #12a050;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
}

.portlet-title a:hover {
  color: #129244;
}

.portlet-body {
  text-align: left;
  flex: 1 1 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.portlet-canvas {
  flex-grow: 1;
  padding-right: 18px;
  border-right: 1px solid #404040;
  text-align: center;
}

.portlet-table {
  flex-grow: 0;
  padding: 0px 10px 0px 2px;
}

.portlet-table.grow {
  flex-grow: 1;
}

.key-value-table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: flex-start;
}

.kvt-row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

.kvt-seperator {
  height: 18px;
}

.kvt-info {
  position: absolute;
  display: none;
}

.kvt-key {
  flex: 0 0 190px;
  text-align: right;
  min-width: 190px;
  box-sizing: border-box;
  padding: 10px 4px 6px 0px;
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
  font-weight: 500;
  line-height: 24px;
}

.kvt-key-narrow {
  flex: 0 0 120px;
  text-align: right;
  min-width: 120px;
  box-sizing: border-box;
  padding: 10px 4px 6px 0px;
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
  font-weight: 500;
  line-height: 21px;
}

.kvt-value {
  flex: 5 1 auto;
  box-sizing: border-box;
  min-width: 70px;
  padding: 8px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  color: #f0f0f0;
}

.kvt-value em {
  color: #bbb;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  display: block;
  font-style: normal;
}

.kvt-value span {
  padding-right: 12px;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  text-align: left;
}

.thead {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  border-bottom: 1px solid #444;
}

.th {
  display: flex;
  box-sizing: border-box;
  padding: 8px;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  color: #bbb;
}

.table-small .th {
  font-size: 12px;
}

.tbody {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex-direction: column;
}

.trow {
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  border-bottom: 1px solid #333;
}

.td {
  font-size: 14px;
  flex: 0 0 auto;
  box-sizing: border-box;
  padding: 14px 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.td-fr {
  flex-direction: row !important;
}

.table.grow .td,
.table.grow .th {
  flex-grow: 1;
}

.td span {
  font-weight: 500;
  color: #bbb;
}

.table-small .td {
  font-size: 12px;
}

.td a {
  text-decoration: none;
  cursor: pointer;
  color: #12a050;
  font-weight: 500;
}

.td a:hover {
  color: #129244;
}

.td em {
  font-style: normal;
  font-size: 13px;
  color: #909090;
  font-weight: 400;
}

.table-small .td em {
  font-size: 11px;
}

.th .hreverse {
  text-decoration: none;
  cursor: pointer;
  color: #12a050;
  font-weight: 600;
  text-transform: none;
  padding: 6px;
  border-radius: 12px;
  margin-top: -4px;
}

.th a {
  text-decoration: none;
  cursor: pointer;
  color: #12a050;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 1px;
}

.th a.small {
  font-size: 11px;
}

.th a:hover {
  color: #129244;
}

.th .hreverse:hover {
  background-color: #129244;
  color: #fff;
}

.th em {
  text-transform: none;
  font-style: normal;
  font-size: 13px;
  color: #909090;
  font-weight: 400;
  padding: 0px 6px;
  margin: 0px 6px;
}

.td span,
.td em {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 0px 2px 0px;
  line-height: 18px;
}

.fgrow1 {
  flex-grow: 1;
}

.fgrow2 {
  flex-grow: 2;
}

.fgrow3 {
  flex-grow: 3;
}

.fgrow4 {
  flex-grow: 4;
}

.fgrow5 {
  flex-grow: 5;
}

.fgrow6 {
  flex-grow: 6;
}

.fgrow7 {
  flex-grow: 7;
}

.fgrow8 {
  flex-grow: 8;
}

.ml18 {
  margin-left: 18px;
}

.fx20px {
  flex-basis: 20px;
}

.fx30px {
  flex-basis: 30px;
}

.fx40px {
  flex-basis: 40px;
  width: 40px;
  max-width: 40px;
  box-sizing: border-box;
}

.fx50px {
  flex-basis: 50px;
}

.fx4 {
  flex-basis: 4%;
}

.fx5 {
  flex-basis: 5%;
}

.fx6 {
  flex-basis: 6%;
}

.fx8 {
  flex-basis: 8%;
}

.fx10 {
  flex-basis: 10%;
}

.fx12 {
  flex-basis: 12%;
}

.fx14 {
  flex-basis: 14%;
}

.fx15 {
  flex-basis: 15%;
}

.fx16 {
  flex-basis: 16%;
}

.fx18 {
  flex-basis: 18%;
}

.fx20 {
  flex-basis: 20%;
}

.fx22 {
  flex-basis: 22%;
}

.fx24 {
  flex-basis: 24%;
}

.fx25 {
  flex-basis: 25%;
}

.fx26 {
  flex-basis: 26%;
}

.fx28 {
  flex-basis: 28%;
}

.fx30 {
  flex-basis: 30%;
}

.fx40 {
  flex-basis: 40%;
}

.fx50 {
  flex-basis: 50%;
}

.fx100 {
  flex-basis: 50%;
}

.vertical-content {
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  margin: 0px 20px 0px 20px;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex-direction: row;
}

.vertical-col {
  flex: 0 1 50%;
  box-sizing: border-box;
  justify-items: stretch;
  align-items: stretch;
}

.vc-flex-40 {
  flex-basis: 40%;
}

.vc-flex-50 {
  flex-basis: 50%;
}

.vc-flex-60 {
  flex-basis: 60%;
}

.centered-body {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1 1 auto;
}

.small-desc {
  text-align: center;
  margin: 30px;
  line-height: 22px;
  font-size: 13px;
  color: #999;
  font-weight: normal;
}

.td small {
  padding: 3px 6px;
  font-weight: 400;
  font-size: 12px;
  background-color: #106030;
  border-radius: 12px;
  margin: 0px 8px 0px 0px;
  color: #fff;
}

.td i {
  width: 11px;
  height: 11px;
  border-radius: 12px;
  margin: 6px 8px 0px 0px;
}

.td i.red {
  background-color: #ff1111;
}

.td i.green {
  background-color: #10a030;
}

.first-row {
  margin-top: 20px;
}

.last-row {
  margin-bottom: 20px;
}

.citem {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  padding: 5px;
}

.citem em {
  flex: 0 1 120px;
  color: #999;
  font-size: 13px;
  font-style: normal;
  line-height: 20px;
  font-weight: 400;
}

.citem strong {
  flex: 0 2 160px;
  font-weight: 700;
  color: #f0d000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
}

.citem span {
  flex: 0 3 70px;
  color: #20a0a0;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  font-weight: 700;
}

.citem div {
  flex: 20 4 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.citem div b {
  color: #888;
  flex: 0 0 auto;
  font-size: 11px;
  line-height: 13px;
  margin: 3px 0px 5px 0px;
  font-weight: 400;
}

.citem div p {
  font-weight: 400;
  margin: 0px;
  padding: 0px 0px;
  flex: 1 1 auto;
  color: #f0f0f0;
  line-height: 20px;
  font-size: 14px;
}

.tright {
  text-align: right !important;
  flex-direction: row-reverse;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-global-overlay-wrapper {
  background-color: rgba(88, 88, 88, 0.5);
}

.mat-dialog-container {
  background-color: #111;
}

.imp {
  font-weight: 500;
  color: #ff9900;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
}

.jockey-text,
.jockey-select {
  border: 1px solid #555;
  background-color: #000;
  color: #eee;
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
}

.jockey-select:focus,
.jockey-select:active,
.jockey-text:focus,
.jockey-text:active {
  border-color: #10a040;
}

.jockey-select option:checked,
.jockey-select option:hover,
select:focus>option:checked {
  box-shadow: 0 0 10px 100px #109040 inset;
  background: #109040 important;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  border-radius: 12px;
}

.scroll::-webkit-scrollbar-track {
  background: #000;
  border-radius: 12px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 12px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #999;
  border-radius: 12px;
}

.create-end {
  text-align: center;
  padding: 40px;
}

.create-end button {
  font-size: 13px;
  border: 2px solid;
  border-radius: 12px;
  color: #fff;
  box-sizing: border-box;
  padding: 12px 20px;
  font-weight: 500;
  background-color: transparent;
  border-color: #109030;
}

.create-end button:hover {
  border-color: #10f070;
}

.modal-btn {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 12px;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  color: #f0f0f0;
  margin-left: 16px;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  align-content: flex-start;
  padding: 15px 0px;
}

.btn-red {
  border-color: #c01010;
}

.btn-orange {
  border-color: #e06000;
}

.btn-green {
  border-color: #109030;
}

.btn-yellow {
  border-color: #b2b200;
}

.btn-purple {
  border-color: #7620af;
}

.btn-cyan {
  border-color: #208585;
}

.btn-red:hover {
  border-color: #ff3030;
}

.btn-orange:hover {
  border-color: #ffaa00;
}

.btn-green:hover {
  border-color: #10f070;
}

.btn-purple:hover {
  border-color: #9010e0;
}

.btn-cyan:hover {
  border-color: #30c0c0;
}

.btn-yellow:hover {
  border-color: #fafa20;
}

.btn-gray,
.btn-grey {
  border-color: #777;
}

.btn-gray:hover,
.btn-grey:hover {
  border-color: #999;
}

.warning-bar {
  margin: -18px 0px 10px 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  background-color: #ffb850;
}

.warning-bar p {
  margin: 0px;
  padding: 12px 12px 11px 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.warning-bar p a {
  text-decoration: none;
  color: #0040c0;
  cursor: pointer;
}

.warning-bar p a:hover {
  color: #1080e0;
}

.dashboard {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  margin: 0px 52px 50px 52px;
  box-sizing: border-box;
  padding-bottom: 60px;
}

.dashboard-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: stretch;
  justify-items: stretch;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.dashboard-portlet {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: stretch;
  align-content: stretch;
  justify-content: stretch;
  justify-items: stretch;
}

.dashboard-portlet .portlet {
  flex: 1 1;
}

.dp-40 {
  flex: 45 1;
}

.dp-50 {
  flex: 50 1;
}

.dp-60 {
  flex: 55 1;
}

.dashboard-portlet.wide {
  flex: 0 1 100% !important;
}

.dashboard-portlet .portlet-body {
  min-height: 240px;
  max-height: 500px;
}

.portlet-body.nowrap {
  max-height: 50000px !important;
}

.dashboard-portlet .portlet-body canvas {
  max-width: calc(50vw - 400px);
}

.portlet-table.canvas-info {
  width: 280px;
}

.change-option {
  font-size: 12px;
  font-weight: 500;
  color: #109030;
  text-decoration: none;
  cursor: pointer;
  padding: 2px;
  margin-left: 10px;
}

.change-option:hover {
  color: #10f070;
}

.mat-mdc-dialog-surface {
  background-color: #111 !important;
}

.mat-mdc-dialog-actions {
  padding: 25px !important;
  justify-content: end !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border-radius: 12px !important;
}

input {
  border-radius: 12px !important;
  padding: 5px 10px !important;
  line-height: 26px !important;
  height: 26px !important;
}

select, option {
  border-radius: 12px !important;
  padding: 5px 10px !important;
  line-height: 32px !important;
  height: 38px !important;
}