.cache {
  margin: auto;
  padding: 0px 60px;
  text-align: center;
}
.cache .table {
  width: 100%;
  text-align: left;
}

.cache-button {
  border: 2px solid transparent;
  border-radius: 2px;
  color: #f0f0f0;
  padding: 6px 10px;
  min-width: 90px;
  margin: -6px 0px -6px 14px;
  background-color: transparent;
}
.cache-button.red {
  border-color: #c02020;
}
.cache-button.red:hover {
  border-color: #f02020;
}
.cache-button.blue {
  border-color: #1050a0;
}
.cache-button.blue:hover {
  border-color: #1070c0;
}